# Directories to ignore
log/
logs/
results/
Results/
result/
Result/

# File extensions to ignore
*.out
*.err
.DS_Store
._.DS_Store
._*
/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore`
